@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
    background-color: #6B7280;
    padding: 1.25rem;
    border-radius: 0.5rem;
  }

  .section{
    margin: 2rem;
  }
}